<ion-view title="Stations">
    <ion-content has-header="true" padding="false">
	    <!--<div class="button-bar">
	    	<a href="" class="button button-light filter-active">Distance</a>
	    	<a href="" class="button button-light">Price</a>
	    	<a href="" class="button button-light">Brand</a>
	    </div>-->
    	<div class="list">
    		<p class="text-center" ng-show="msg">
    			<i class="fa fa-circle-o-notch fa-spin" ng-show="!error"></i> {{msg}}
    		</p>
    		<a class="item" href="" ng-click="setStation(this)" ng-repeat="station in stations">
    			<!--<img src="{{station.logo}}">-->
    			<h2>{{station.name}}</h2>
    			<p>{{station.address}}</p>
    			<p>
    				<!--<strong style="color:#66CC33;">{{station.currency}}{{station.prices.unleaded}}</strong>-->
    				<strong>{{station.distance}} km</strong>
    			</p>
    		</a>
    	</div>
    	<!--
    	<div class="list">
           <a class="item item-icon-right">
           		<div class="row">
           			<div class="col" >
           				<strong>Chevron</strong>
           				<br />        
           			</div >
           			<div class="col"></div>
           			<div class="col"></div>
           			<div class="col" style="text-align:rigth">
           				U$ 5.00º
           			</div>
           		</div>
           		<i class="icon ion-chevron-right"></i>
           	</a>
       </div>
   		-->
    </ion-content>
</ion-view>