<ion-view title="{{station.name}}">
    <ion-content has-header="true" padding="false">
    	<img
    		id="map"
    		src="http://maps.googleapis.com/maps/api/staticmap?center={{station.address}}&zoom=16&size=1000x180&key=AIzaSyCIxMsYQP8758rRIremA-t8YSECfKEkmAo&markers=color:red%7C{{station.loc.lat}},{{station.loc.lng}}" />
    		<div id="map-actions" class="row">
    			<div class="col text-center">
    				<a href="">
    					<i class="fa fa-phone-square"></i>
    					{{station.phone}}
    				</a>
    			</div>
    			<div class="col text-center">
    				<a href="">
    					<i class="fa fa-road"></i>
    					{{station.address}}
    				</a>
    			</div>
    		</div>

    		<div id="prices-table" class="row">
    			<div class="col text-center">
    				Unleaded
    				<br />
    				<strong>{{station.currency}}{{station.prices.unleaded}}</strong>
    			</div>
    			<div class="col text-center">
    				Midgrade
    				<br />
    				<strong>{{station.currency}}{{station.prices.midgrade}}</strong>
    			</div>
    			<div class="col text-center">
    				Premium
    				<br />
    				<strong>{{station.currency}}{{station.prices.premium}}</strong>
    			</div>
    			<div class="col text-center">
    				Diesel
    				<br />
    				<strong>{{station.currency}}{{station.prices.diesel}}</strong>
    			</div>
    		</div>
    </ion-content>
</ion-view>